.chart {
    width: 90%;
    border: 5px;
    margin-top: 50px;
}

.LineChart {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    justify-self: center;
    width: 100%;
}

.global {
    width: 100%;
}